.m-3steps {
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;


    .-small {
      margin-bottom: 15px!important;
    }
  }

  ._l4 {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include media-up(l) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}