.-mobile {
  @include menu-icon-effect;

  .m-nav {
    height: 100%;
  }

  .m-nav__links #menu-navigacija {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    transition: transform ease-out 0.2s;
    transform: translate3d(0, 0, 0);
    background-color: $primary;
    z-index: 22;
    text-align: left;
    border-left: 3px solid $primary;
    padding: 100px 0 0 40px;
    height: 100vh;

    @include media-up(s) {
      //width: 60%;
      text-align: start;
      padding: 100px 65px 0;
    }

    @include media-up(l) {
      transition: none;
    }
  }
}
