.m-contact {
  padding: 100px 0;

  &__form {
    margin-top: 30px;

    @include media-up(m) {
      margin-top: 0;
    }
  }

  &__icon {
    margin-right: 20px;

    svg {
      width: 100px;
      height: 100%;
    }
  }

  p span {
    color: $primary;
    font-weight: 700;
  }

  .wpcf7-submit {
    padding: 15px 40px;
    color: $white;
    display: inline-block;
    background: $primary;
    font-weight: 700;
    position: relative;
    //border-radius: 1px 20px 1px 20px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 2px solid $primary;
    line-height: 1;
    cursor: pointer;
    margin-top: 10px;
    transition: all ease .2s;

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }

  .wpcf7-response-output {
    border: 0 !important;
    position: absolute;
    bottom: 75px;
    font-size: 14px;
    left: 0;
    margin: 0 !important;
    color: $primary;
  }

  br {
    display: none;
  }
}