.m-reasons {
  margin-top: 80px;

  @include media-up(l) {
    margin-top: 70px;
  }

  strong {
    color: $primary;
  }

  .text-center {
    padding: 70px 0;
  }

  &__homeLink {
    text-decoration: underline;

    a {
      color: $primary;
      font-size: 20px;
    }

    svg {
      width: 20px;
      margin-left: 10px;

      line, polyline {
        stroke: $primary;
      }
    }
  }
}