.m-info {
  background-color: $primary;
  padding: 5px 0;
  position: relative;
  z-index: 12;

  &__address {
    //flex-direction: column;

    @include media-up(s) {
      //flex-direction: row;

      div {
        margin-right: 20px;
      }
    }

    svg {
      width: 17px;
      height: 17px;
      margin-right: 5px;

      @include media-up(s) {
        width: 20px;
        height: 20px;
      }
    }

    &--tel {
      svg {
        margin-right: 5px;
      }
    }

    &--item {
      //margin-bottom: 5px;
      //
      //@include media-up(s) {
      //  margin-bottom: 0;
      //}

     @include media-down(s) {
       &:first-of-type {
         margin-right: 15px;
       }
     }


    }
  }

  p, a {
    font-size: 10px;

    @include media-up(s) {
      font-size: 14px;
    }
  }
}