@font-face {
    font-family: 'Nunito';
    src: url('#{$font-path}/Nunito/Nunito-Light.eot');
    src: url('#{$font-path}/Nunito/Nunito-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Nunito/Nunito-Light.woff2') format('woff2'),
    url('#{$font-path}/Nunito/Nunito-Light.woff') format('woff'),
    url('#{$font-path}/Nunito/Nunito-Light.ttf') format('truetype'),
    url('#{$font-path}/Nunito/Nunito-Light.svg#Nunito-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('#{$font-path}/Nunito/Nunito-Regular.eot');
    src: url('#{$font-path}/Nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Nunito/Nunito-Regular.woff2') format('woff2'),
    url('#{$font-path}/Nunito/Nunito-Regular.woff') format('woff'),
    url('#{$font-path}/Nunito/Nunito-Regular.ttf') format('truetype'),
    url('#{$font-path}/Nunito/Nunito-Regular.svg#Nunito-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('#{$font-path}/Nunito/Nunito-Medium.eot');
    src: url('#{$font-path}/Nunito/Nunito-Medium.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Nunito/Nunito-Medium.woff2') format('woff2'),
    url('#{$font-path}/Nunito/Nunito-Medium.woff') format('woff'),
    url('#{$font-path}/Nunito/Nunito-Medium.ttf') format('truetype'),
    url('#{$font-path}/Nunito/Nunito-Medium.svg#Nunito-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('#{$font-path}/Nunito/Nunito-Bold.eot');
    src: url('#{$font-path}/Nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Nunito/Nunito-Bold.woff2') format('woff2'),
    url('#{$font-path}/Nunito/Nunito-Bold.woff') format('woff'),
    url('#{$font-path}/Nunito/Nunito-Bold.ttf') format('truetype'),
    url('#{$font-path}/Nunito/Nunito-Bold.svg#Nunito-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('#{$font-path}/Nunito/Nunito-Black.eot');
    src: url('#{$font-path}/Nunito/Nunito-Black.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/Nunito/Nunito-Black.woff2') format('woff2'),
    url('#{$font-path}/Nunito/Nunito-Black.woff') format('woff'),
    url('#{$font-path}/Nunito/Nunito-Black.ttf') format('truetype'),
    url('#{$font-path}/Nunito/Nunito-Black.svg#Nunito-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}